.eventspage-banner-container{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	top: 0px;
	width: 100%;
	background-color: rgb(255, 255, 255);
	z-index: 4;
}

.eventspage-outer{
	width: clamp(200px,900px,900px);
}

.eventspage-header-container {
	margin-top: 100px;
	margin-bottom: 0px;
	display: flex;
	font-size: 28px;
	font-family: "PlayfairBold";
	width: 100%;
	height: 60px;
	align-items: center;
	justify-content: center;
	color: var(--dark-purple);
}

.thinLine{
	width: 100%;
	height: 1px;
	background-color: rgb(203, 203, 203);
	margin-bottom: 40px;
}

.eventspage-minor-container {
	display: flex;
	flex-direction: column;
	font-size: 16px;
	font-family: "WorkSansLight";
	line-height: 1.6;
	text-align: justify;
	margin-bottom: 20px;
}

.events-list-outer{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin-bottom: 60px;
}

.events-list-header{
	width: 100%;
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	font-family: "PlayfairBold";
	font-size: 26px;
	color: var(--dark-purple);
}

.events-box-container{
	position: relative;
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 300px;
	background-color: rgb(255, 255, 255);
	border: 1px solid rgb(241, 241, 241);
	margin-top: 20px;
	margin-bottom: 20px;
	transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
}

.events-box-container:hover{
	border: 1px solid white;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.image-events-outer-container{
	width: 300px;
	height: 300px;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	object-fit: cover;
	position: relative;
}

.events-box-text-outer-container{
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-direction: column;
	height: 100%;
	width: calc(100% - 300px);
}

.events-box-text-header-container{
	display: flex;
	align-items: center;
	justify-content: flex-start;
	height: 60px;
	font-family: "Garamond";
	font-size: 26px;
	color: black;
	margin-top: 20px;
	padding-left: 60px;
	padding-right: 60px;
}

.events-box-text-body-container{
	display: flex;
	align-items: center;
	justify-content: flex-start;
	font-family: "WorkSansRegular";
	font-size: 14px;
	color: black;
	padding-left: 60px;
	padding-right: 60px;
}

.events-box-text-button-outer-container{
	display: flex;
	align-items: center;
	justify-content: flex-start;
	color: black;
	width: calc(100% - 60px);
	height: 60px;
	padding-left: 60px;
	margin-top: 18px;
}

.events-box-text-button-container{
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: "WorkSansRegular";
	font-size: 14px;
	color: white;
	width: 180px;
	height: 40px;
	background-color: var(--dark-purple);
	cursor: pointer;
	transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
}

.events-box-text-button-container:hover{
	background-color: var(--light-purple);
}

.date-box-outer{
	background-color: rgb(241, 241, 241);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: absolute;
	right: -1px;
	top: -1px;
	width: 63px;
	height: 63px;
}

.date-box-month{
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: "WorkSansRegular";
	font-size: 12px;
	color: black;
}

.date-box-day{
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: "WorkSansRegular";
	font-size: 18px;
	color: black;
}

.events-list-upcoming-cont{
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: "WorkSansRegular";
	width: 50%;
	height: 40px;
	border: 0px solid rgb(241, 241, 241);
	background-color: var(--dark-purple);
	color: white;
	font-size: 14px;
	cursor: pointer;
}

.events-list-past-cont{
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: "WorkSansRegular";
	width: 50%;
	height: 40px;
	border: 1px solid rgb(241, 241, 241);
	font-size: 14px;
	cursor: pointer;
}