.eventspage-banner-container{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	top: 0px;
	width: 100%;
	background-color: rgb(255, 255, 255);
	z-index: 4;
}

.eventspage-outer{
	width: clamp(200px,100%,980px);
}

.eventspage-header-container {
	margin-top: 100px;
	margin-bottom: 0px;
	display: flex;
	font-size: 26px;
	font-family: "PlayfairBold";
	width: calc(100% - 80px);
	margin-left: 40px;
	margin-right: 40px;
	height: 60px;
	align-items: center;
	justify-content: center;
	color: var(--dark-purple);
}

.events-thinLine{
	width: calc(100% - 80px);
	margin-left: 40px;
	margin-right: 40px;
	height: 1px;
	background-color: rgb(203, 203, 203);
	margin-bottom: 20px;
}

.eventspage-minor-container {
	display: flex;
	flex-direction: column;
	font-size: 16px;
	font-family: "WorkSansLight";
	line-height: 1.6;
	text-align: justify;
	margin-bottom: 20px;
}

@media (max-width: 610px) {
	.eventspage-header-container {
		font-size: 22px;
	}
}