/*
	-----     SUCCESS BANNER      -----
*/

.success-banner-container{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	top: 0px;
	width: 100%;
	background-color: rgb(255, 255, 255);
	z-index: 4;
}

.success-outer {
    width: clamp(200px,100%,980px);
}

.success-buffer{
	width: 100%;
	height: 400px;
}

.success-buffer2{
	width: 100%;
	height: 400px;
}

.success-text{
	margin: auto;
	width: 400px;
	font-size: 20px;
	font-family: "WorkSansRegular";
	color: black;
}

.success-text2{
	margin: auto;
	width: 400px;
	font-size: 14px;
	font-family: "WorkSansLight";
	color: black;
}