@font-face {
	font-family: 'WorkSansExtraLight';
	src: local('WorkSans-ExtraLight'), url(../../fonts/WorkSans-ExtraLight.woff) format('woff');
}
  
@font-face {
	font-family: 'WorkSansLight';
	src: local('WorkSans-Light'), url(../../fonts/WorkSans-Light.woff) format('woff');
}

@font-face {
	font-family: 'WorkSansRegular';
	src: local('WorkSans-Regular'), url(../../fonts/WorkSans-Regular.woff) format('woff');
}	

@font-face {
	font-family: 'Garamond';
	src: local('EBGaramond-Regular'), url(../../fonts/EBGaramond-Regular.woff) format('woff');
}

@font-face {
	font-family: 'GaramondSemiBold';
	src: local('EBGaramond-SemiBold'), url(../../fonts/EBGaramond-SemiBold.woff) format('woff');
}	

@font-face {
	font-family: 'PlayfairBold';
	src: local('PlayfairDisplaySC-Bold'), url(../../fonts/PlayfairDisplaySC-Bold.woff) format('woff');
}

:root{
	--light-purple: #5D3C90;
	--orange: #F57300;
	--dark-purple: #4E35A0;
	--gray-purple: #CECADB;
	--light-gray: rgb(244, 244, 244);
}

body {
	margin: 0px;
}

p {
	padding: 0;
	margin: 0;
}

input {
	display: inline;
}
  
html {
	scroll-behavior: smooth;
}

.logotext{
	color: var(--dark-purple);
	font-size: 28px;
	font-family: "Garamond";
}

.navbar{
	display: flex;
    background-color: white;
    justify-content: center;
    position: fixed;
    width: 100%;
	box-shadow: rgba(0, 0, 0, 0.36) 0px 1px 4px;
	z-index: 20;
}

.navbar-inner{
	min-height: 70px;
    display: flex;
    width: clamp(200px,1000px,1000px);
    justify-content: space-between;
    align-items: stretch;
    padding: 0 12px;
}

.identity-outer-container{
	display: flex;
	width: 125px;
	height: 54px;
	margin-left: 50px;
	padding-top: 8px;
	padding-bottom: 8px;
	cursor: pointer;
}

.logo-outer-container{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 14px;
}

.navbarlinks-outer-container{
	display: flex;
	width: 700px;
	height: 54px;
	padding-top: 8px;
	padding-bottom: 8px;
	align-items: center;
	justify-content: flex-end;
}

.navbar-link{
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: "WorkSansRegular";
	color: rgb(69, 69, 69);
	font-size: 13px;
	width: 120px;
	height: 40px;
	margin-left: 10px;
	margin-right: 10px;
	cursor: pointer;
}

.navbar-link:hover {
	color: var(--dark-purple);
}

.first-banner-container{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	top: 70px;
	width: 100%;
	background-color: var(--gray);
	height: 700px;
	z-index: 4;
}

.first-banner-text-outer {
	margin-top: 210px;
	height: 80px;
	width: 900px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	color: white;
	font-size: 50px;
	font-family: "Garamond";
	z-index: 10;
}

.first-banner-text-minor {
	height: 40px;
	width: 900px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	color: rgba(255, 255, 255, 0.747);
	font-size: 20px;
	font-family: "WorkSansRegular";
	z-index: 10;
}

.second-banner-container{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	top: 0px;
	width: 100%;
	background-color: white;
	z-index: 4;
}

.footer-container {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	top: 0px;
	width: 100%;
	background-color: var(--light-gray);
	height: 200px;
	z-index: 4;
}

.about-outer{
	width: clamp(200px,900px,900px);
}

.about-header-container {
	margin-top: 60px;
	margin-bottom: 0px;
	display: flex;
	font-size: 28px;
	font-family: "PlayfairBold";
	width: 100%;
	height: 60px;
	align-items: center;
	justify-content: center;
	color: var(--dark-purple);
}

.thinLine{
	width: 100%;
	height: 1px;
	background-color: rgb(203, 203, 203);
	margin-bottom: 40px;
}

.about-minor-container {
	display: flex;
	font-size: 18x;
	font-family: "WorkSansLight";
	line-height: 1.6;
	text-align: justify;
	margin-bottom: 20px;
}

.about-values-container {
	margin-top: 35px;
	display: flex;
	font-size: 28px;
	font-family: "PlayfairBold";
	width: 100%;
	height: 60px;
	align-items: center;
	justify-content: center;
	color: var(--dark-purple);
}

.values-outer-box{
	display: flex;
	height: 300px;
	width: 100%;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 100px;
	margin-top: 50px;
}

.values-box{
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 31%;
	background-color: rgb(247, 247, 247);
	align-items: center;
	justify-content: flex-start;
	font-family: "WorkSansRegular";
	transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
}

.values-box:hover{
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	background-color: white;
}

.values-box-header{
	width: 70%;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	color: black;
	font-family: "WorkSansRegular";
	margin-top: 25px;
	font-size: 20px;
}

.values-box-header2{
	width: 70%;
	height: 44px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	color: black;
	font-family: "WorkSansRegular";
	margin-top: 25px;
	font-size: 20px;
}

.values-box-detail{
	width: 70%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: rgb(41, 41, 41);
	font-family: "WorkSansLight";
	margin-top: 15px;
	font-size: 14px;
}

.values-box-detail2{
	width: 70%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: rgb(41, 41, 41);
	font-family: "WorkSansLight";
	margin-top: 15px;
	font-size: 13px;
}

.values-box-banner{
	width: 100%;
	height: 24px;
	background-color: var(--dark-purple);
}

.third-banner-container{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	top: 0px;
	width: 100%;
	background-color: #412f53;
	z-index: 4;
}

.events-outer {
    width: clamp(200px,900px,900px);
}

.events-header-container2 {
	margin-top: 60px;
	margin-bottom: 0px;
	display: flex;
	font-size: 28px;
	font-family: "PlayfairBold";
	width: 100%;
	height: 60px;
	align-items: center;
	justify-content: center;
	color: white;
}

.thinLine-white{
	width: 100%;
	height: 1px;
	background-color: rgb(255, 255, 255);
	margin-bottom: 40px;
}

.initiatives-container{
	margin-top: 80px;
	width: 100%;
	height: 300px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 80px;
}

.initiatives-text-container-outer{
	width: 50%;
	height: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-direction: column;
}

.initiatives-image-container{
	width: 50%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	overflow: hidden;
	object-fit: cover;
}

.initiatives-header-container{
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: flex-start;
	height: 60px;
	font-size: 28px;
	font-family: "PlayfairBold";
	color: white;
}

.initiatives-detail-container{
	margin-top: 15px;
	display: flex;
	width: 90%;
	align-items: flex-start;
	justify-content: flex-start;
	font-size: 16px;
	font-family: "WorkSansLight";
	color: rgb(214, 214, 214);
}

.initiatives-button-outer{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin-top: 40px;
}

.initiatives-button-container{
	width: 200px;
	height: 40px;
	background-color: white;
	color: black;
	font-family: "WorkSansRegular";
	display: flex;
	font-size: 14px;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.initiatives-button-container:hover{
	background-color: rgb(225, 225, 225);
	transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
}

.fourth-banner-container{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	top: 0px;
	width: 100%;
	background-color: rgb(235, 235, 235);
	z-index: 4;
}

.events-container{
	margin-top: 80px;
	width: 100%;
	height: 300px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 80px;
}

.events-text-container-outer{
	width: 50%;
	height: 100%;
	display: flex;
	align-items: flex-end;
	justify-content: flex-start;
	flex-direction: column;
}

.events-image-container{
	width: 50%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	overflow: hidden;
	object-fit: cover;
}

.events-header-container{
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: flex-end;
	height: 60px;
	font-size: 28px;
	font-family: "PlayfairBold";
	color: rgb(0, 0, 0);
}

.events-detail-container{
	margin-top: 15px;
	display: flex;
	width: 90%;
	align-items: flex-start;
	justify-content: flex-start;
	font-size: 16px;
	font-family: "WorkSansLight";
	color: rgb(57, 57, 57);
	text-align: right;
}

.events-button-outer{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-top: 40px;
}

.events-button-container{
	width: 200px;
	height: 40px;
	background-color: black;
	color: white;
	font-family: "WorkSansRegular";
	display: flex;
	font-size: 14px;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.events-button-container:hover{
	background-color: rgb(46, 46, 46);
	transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
}

.fifth-banner-container{
	position: relative;
	display: flex;
	height: 600px;
	flex-direction: column;
	align-items: center;
	top: 0px;
	width: 100%;
	background-color: rgb(255, 255, 255);
	z-index: 4;
}

.committee-outer {
    width: clamp(200px,900px,900px);
}

.committee-header-container{
	margin-top: 60px;
	margin-bottom: 0px;
	display: flex;
	font-size: 28px;
	font-family: "PlayfairBold";
	width: 100%;
	height: 60px;
	align-items: center;
	justify-content: center;
	color: var(--dark-purple);
}

.committee-message-container{
	display: flex;
	flex-direction: column;
	font-size: 18x;
	font-family: "WorkSansLight";
	line-height: 1.6;
	text-align: justify;
	margin-bottom: 20px;
}

.committee-text-right-pos{
	text-align: right;
}

.space-10px{
	height: 10px;
	width: 100%;
}

.committee-boxes-outer{
	display: flex;
	width: 100%;
}