@font-face {
	font-family: 'WorkSansExtraLight';
	src: local('WorkSans-ExtraLight'), url(../../public/fonts/WorkSans-ExtraLight.woff) format('woff');
}
  
@font-face {
	font-family: 'WorkSansLight';
	src: local('WorkSans-Light'), url(../../public/fonts/WorkSans-Light.woff) format('woff');
}

@font-face {
	font-family: 'WorkSansRegular';
	src: local('WorkSans-Regular'), url(../../public/fonts/WorkSans-Regular.woff) format('woff');
}	

@font-face {
	font-family: 'Garamond';
	src: local('EBGaramond-Regular'), url(../../public/fonts/EBGaramond-Regular.woff) format('woff');
}

@font-face {
	font-family: 'GaramondSemiBold';
	src: local('EBGaramond-SemiBold'), url(../../public/fonts/EBGaramond-SemiBold.woff) format('woff');
}	

@font-face {
	font-family: 'PlayfairBold';
	src: local('PlayfairDisplaySC-Bold'), url(../../public/fonts/PlayfairDisplaySC-Bold.woff) format('woff');
}

:root{
	--light-purple: #5D3C90;
	--orange: #F57300;
	--dark-purple: #4E35A0;
	--gray-purple: #dad6e9;
	--light-gray: rgb(244, 244, 244);
}

body {
	margin: 0px;
}

p {
	padding: 0;
	margin: 0;
}

input {
	display: inline;
}
  
html {
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
	color: inherit;
}

ul {
	list-style-type:square;
	list-style-position: outside;
}

li {
	list-style-type:square;
	list-style-position: outside;
}

select {
	appearance:inherit;
}

/*
	-----     FIRST BANNER      -----
*/

.first-banner-container{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	top: 70px;
	width: 100%;
	background-color: var(--gray);
	height: 700px;
	z-index: 4;
}

.first-outer{
	width: clamp(200px,100%,980px);
	z-index: 1;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.first-banner-text-outer {
	margin-top: 210px;
	height: 80px;
	width: calc(100% - 80px);
	margin-left: 40px;
	margin-right: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	font-size: 55px;
	font-family: "Garamond";
	z-index: 10;
	animation: fadeIn 2s;
	text-align: center;
}

@keyframes fadeIn {
	0% { opacity: 0; transform: scale(0.7);}
	100% { opacity: 1; transform: scale(1);}
}

.first-banner-text-minor {
	height: 40px;
	width: calc(100% - 80px);
	margin-left: 40px;
	margin-right: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: rgba(255, 255, 255, 0.9);
	font-size: 22px;
	font-family: "WorkSansRegular";
	z-index: 10;
	animation: fadeIn 2s;
	text-align: center;
}

.first-banner-button-outer{
	display: flex;
	align-items: center;
	justify-content: center;
	width: calc(100% - 80px);
	margin-left: 40px;
	margin-right: 40px;
	margin-top: 14px;
	animation: fadeIn 2s;
}

.first-banner-join-button{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 37px;
	width: 150px;
	color: rgba(255, 255, 255, 1);
	border: 1px solid rgba(255, 255, 255, 1);
	z-index: 10;
	cursor: pointer;
	transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
	animation: fadeIn 3s;
}

.first-banner-join-button:hover{
	color: rgba(0, 0, 0, 1);
	background-color: rgba(255, 255, 255, 1.0);
}

.first-banner-button-text{
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 14px;
	font-family: "WorkSansRegular";
	z-index: 10;
	animation: fadeIn 3s;
}

/*
	-----     SECOND BANNER      -----
*/

.second-banner-container{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	top: 0px;
	width: 100%;
	background-color: white;
	z-index: 4;
}

.about-outer{
	width: clamp(200px,100%,980px);
}

.about-header-container {
	margin-top: 60px;
	margin-bottom: 0px;
	display: flex;
	font-size: 28px;
	font-family: "PlayfairBold";
	width: calc(100% - 80px);
	margin-left: 40px;
	margin-right: 40px;
	height: 60px;
	align-items: center;
	justify-content: center;
	color: var(--dark-purple);
}

.thinLine{
	width: calc(100% - 80px);
	margin-left: 40px;
	margin-right: 40px;
	height: 1px;
	background-color: rgb(203, 203, 203);
	margin-bottom: 40px;
}

.about-minor-container {
	display: flex;
	width: calc(100% - 80px);
	margin-left: 40px;
	margin-right: 40px;
	font-size: 16px;
	font-family: "WorkSansLight";
	line-height: 1.6;
	text-align: justify;
	margin-bottom: 20px;
}

.about-values-container {
	margin-top: 35px;
	display: flex;
	font-size: 28px;
	font-family: "PlayfairBold";
	width: calc(100% - 80px);
	margin-left: 40px;
	margin-right: 40px;
	height: 60px;
	align-items: center;
	justify-content: center;
	color: var(--dark-purple);
}

.values-outer-box{
	display: flex;
	height: 300px;
	width: calc(100% - 80px);
	margin-left: 40px;
	margin-right: 40px;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 80px;
	margin-top: 50px;
}

.values-box{
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 31%;
	background-color: rgb(247, 247, 247);
	align-items: center;
	justify-content: flex-start;
	font-family: "WorkSansRegular";
	transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
}

.values-box:hover{
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	background-color: white;
}

.values-box-header{
	width: 70%;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	color: black;
	font-family: "WorkSansRegular";
	margin-top: 25px;
	font-size: 20px;
}

.values-box-header2{
	width: 70%;
	height: 44px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	color: black;
	font-family: "WorkSansRegular";
	margin-top: 25px;
	font-size: 20px;
}

.values-box-detail{
	width: 70%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: rgb(41, 41, 41);
	font-family: "WorkSansLight";
	margin-top: 15px;
	font-size: 14px;
}

.values-box-detail2{
	width: 70%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: rgb(41, 41, 41);
	font-family: "WorkSansLight";
	margin-top: 15px;
	font-size: 13px;
}

.values-box-banner{
	width: 100%;
	height: 24px;
	background-color: var(--dark-purple);
}

/*
	-----     WHAT WE DO BANNER      -----
*/

.wedo-banner-container{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	top: 0px;
	width: 100%;
	background-color: rgb(244, 242, 250);
	z-index: 4;
}

.wedo-outer {
    width: clamp(200px,100%,980px);
}

.wedo-header-container {
	margin-top: 50px;
	display: flex;
	font-size: 28px;
	font-family: "PlayfairBold";
	width: calc(100% - 80px);
	margin-left: 40px;
	margin-right: 40px;
	height: 60px;
	align-items: center;
	justify-content: center;
	color: rgb(0, 0, 0);
}

.thinLine{
	width: calc(100% - 80px);
	margin-left: 40px;
	margin-right: 40px;
	height: 1px;
	background-color: rgb(203, 203, 203);
	margin-bottom: 40px;
}

.wedo-container{
	width: calc(100% - 80px);
	margin-left: 40px;
	margin-right: 40px;
	height: 300px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.wedo-header-container-smaller{
	display: flex;
	width: calc(100% - 40px);
	align-items: center;
	justify-content: flex-start;
	height: 60px;
	font-size: 24px;
	font-family: "PlayfairBold";
	color: rgb(0, 0, 0);
	margin-top: 30px;
}

.wedo-header-container-smaller2{
	display: flex;
	width: calc(100% - 40px);
	align-items: center;
	justify-content: flex-start;
	height: 60px;
	font-size: 24px;
	font-family: "PlayfairBold";
	color: rgb(0, 0, 0);
	margin-top: 30px;
}

.wedo-detail-container{
	margin-top: 10px;
	display: flex;
	width: calc(90% - 40px);
	align-items: flex-start;
	justify-content: flex-start;
	font-size: 14px;
	font-family: "WorkSansLight";
	color: rgb(30, 30, 30);
}

.wedo-header-container-smaller-right{
	display: flex;
	width: calc(100% - 80px);
	align-items: center;
	justify-content: flex-start;
	margin-left: 80px;
	height: 60px;
	font-size: 24px;
	font-family: "PlayfairBold";
	color: rgb(0, 0, 0);
	margin-top: 30px;
}

.wedo-detail-container-right{
	margin-top: 10px;
	display: flex;
	width: calc(90% - 80px);
	margin-left: 80px;
	align-items: flex-end;
	justify-content: flex-start;
	font-size: 14px;
	font-family: "WorkSansLight";
	color: rgb(30, 30, 30);
}

.wedo-button-outer{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin-top: 20px;
}

.wedo-button-outer-right{
	width: calc(100% - 80px);
	margin-left: 80px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin-top: 20px;
}

.wedo-button-container{
	width: 200px;
	height: 40px;
	background-color: var(--dark-purple);
	color: white;
	font-family: "WorkSansRegular";
	display: flex;
	font-size: 12px;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.buffer{
	width: 100%;
	height: 60px;
}

/*
	-----     THIRD BANNER      -----
*/

.third-banner-container{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	top: 0px;
	width: 100%;
	background-color: #412f53;
	z-index: 4;
}

.events-outer {
    width: clamp(200px,100%,980px);
}

.events-header-container2 {
	margin-top: 60px;
	margin-bottom: 0px;
	display: flex;
	font-size: 28px;
	font-family: "PlayfairBold";
	width: 100%;
	height: 60px;
	align-items: center;
	justify-content: center;
	color: white;
}

.thinLine-white{
	width: 100%;
	height: 1px;
	background-color: rgb(255, 255, 255);
	margin-bottom: 40px;
}

.initiatives-container{
	margin-top: 80px;
	width: calc(100% - 80px);
	margin-left: 40px;
	margin-right: 40px;
	height: 300px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 80px;
}

.initiatives-text-container-outer{
	width: 50%;
	height: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-direction: column;
}

.initiatives-image-container{
	width: 50%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	overflow: hidden;
	object-fit: cover;
}

.initiatives-header-container{
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: flex-start;
	height: 60px;
	font-size: 28px;
	font-family: "PlayfairBold";
	color: white;
}

.initiatives-detail-container{
	margin-top: 15px;
	display: flex;
	width: 90%;
	align-items: flex-start;
	justify-content: flex-start;
	font-size: 16px;
	font-family: "WorkSansLight";
	color: rgb(214, 214, 214);
}

.initiatives-button-outer{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin-top: 40px;
}

.initiatives-button-container{
	width: 200px;
	height: 40px;
	background-color: white;
	color: black;
	font-family: "WorkSansRegular";
	display: flex;
	font-size: 14px;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.initiatives-button-container:hover{
	background-color: rgb(225, 225, 225);
	transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
}

/*
	-----     FOURTH BANNER      -----
*/

.fourth-banner-container{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	top: 0px;
	width: 100%;
	background-color: rgb(235, 235, 235);
	z-index: 4;
}

.events-container{
	margin-top: 80px;
	width: calc(100% - 80px);
	margin-left: 40px;
	margin-right: 40px;
	height: 300px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 80px;
}

.events-text-container-outer{
	width: 50%;
	height: 100%;
	display: flex;
	align-items: flex-end;
	justify-content: flex-start;
	flex-direction: column;
}

.events-image-container{
	width: 50%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	overflow: hidden;
	object-fit: cover;
}

.events-header-container{
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: flex-end;
	height: 60px;
	font-size: 28px;
	font-family: "PlayfairBold";
	color: rgb(0, 0, 0);
}

.events-detail-container{
	margin-top: 15px;
	display: flex;
	width: 90%;
	align-items: flex-start;
	justify-content: flex-start;
	font-size: 16px;
	font-family: "WorkSansLight";
	color: rgb(57, 57, 57);
	text-align: right;
}

.events-button-outer{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-top: 40px;
}

.events-button-container{
	width: 200px;
	height: 40px;
	background-color: black;
	color: white;
	font-family: "WorkSansRegular";
	display: flex;
	font-size: 14px;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.events-button-container:hover{
	background-color: rgb(46, 46, 46);
	transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
}


/*
	-----     SOCIAL MEDIA CALL BANNER      -----
*/

.social-media-call-banner-container{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	top: 0px;
	width: 100%;
	background-color: rgb(255, 255, 255);
	z-index: 4;
	border: 1px solid rgb(225, 225, 225);
}

.joining-end-outer {
    width: clamp(200px,100%, 980px);
}

.social-call-text-outer {
	margin-top: 60px;
	height: 80px;
	width: calc(100% - 80px);
	margin-left: 40px;
	margin-right: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: black;
	font-size: 32px;
	font-family: "PlayfairBold";
	z-index: 10;
}

.social-call-text-minor {
	height: 40px;
	width: calc(100% - 80px);
	margin-left: 40px;
	margin-right: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: rgba(36, 36, 36, 0.747);
	font-size: 16px;
	font-family: "WorkSansRegular";
	z-index: 10;
	margin-bottom: 20px;
	text-align: center;
}

/*
	-----     SPONSORS BANNER      -----
*/

.sixth-banner-container{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	top: 0px;
	width: 100%;
	background-color: rgb(255, 255, 255);
	z-index: 4;
}

.sponsors-outer {
    width: clamp(200px,100%,980px);
}

.sponsors-header-container {
	margin-top: 60px;
	margin-bottom: 0px;
	display: flex;
	font-size: 28px;
	font-family: "PlayfairBold";
	width: calc(100% - 80px);
	margin-left: 40px;
	margin-right: 40px;
	height: 60px;
	align-items: center;
	justify-content: center;
	color: var(--dark-purple);
}

.sponsors-box-outer {
    display: flex;
	width: calc(100% - 80px);
	margin-left: 40px;
	margin-right: 40px;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 50px;
}

/*
	-----     ALUMNI-DESTINATIONS BANNER      -----
*/

.alumni-destinations-banner-container{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	top: 0px;
	width: 100%;
	background-color: var(--light-gray);
	z-index: 4;
}

.alumni-destinations-outer {
    width: clamp(200px,100%,980px);
}

.alumni-destinations-outer-container{
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	width: calc(100% - 80px);
	margin-left: 40px;
	margin-right: 40px;
	flex-wrap: wrap;
	margin-bottom: 60px;
}

.alumni-destinations-box-container{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 140px;
	height: 140px;
	position: relative;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.alumni-header-container{
	margin-top: 60px;
	margin-bottom: 0px;
	display: flex;
	font-size: 28px;
	font-family: "PlayfairBold";
	width: calc(100% - 80px);
	margin-left: 40px;
	margin-right: 40px;
	height: 60px;
	align-items: center;
	justify-content: center;
	color: black;
}

/*
	-----     JOINING-END BANNER      -----
*/

.joining-end-banner-container{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	top: 0px;
	width: 100%;
	background-color: rgb(255, 255, 255);
	z-index: 4;
}

.joining-end-outer {
    width: clamp(200px,100%, 980px);
}

.joining-end-text-outer {
	margin-top: 80px;
	height: 80px;
	width: calc(100% - 80px);
	margin-left: 40px;
	margin-right: 40px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	color: black;
	font-size: 32px;
	font-family: "PlayfairBold";
	z-index: 10;
}

.joining-end-text-minor {
	height: 40px;
	width: calc(100% - 80px);
	margin-left: 40px;
	margin-right: 40px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	color: rgba(36, 36, 36, 0.747);
	font-size: 16px;
	font-family: "WorkSansRegular";
	z-index: 10;
}

.joining-end-join-button{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
	margin-bottom: 100px;
	height: 37px;
	width: 220px;
	background-color: var(--dark-purple);
	color: white;
	z-index: 10;
	cursor: pointer;
	transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
}

.joining-end-join-button:hover{
	background-color: var(--light-purple);
}

.joining-end-button-text{
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 13px;
	font-family: "WorkSansRegular";
	z-index: 10;
}

.joining-end-button-outer{
	display: flex;
	width: calc(100% - 80px);
	margin-left: 40px;
	margin-right: 40px;
}

/*
	-----     CONTACT US BANNER      -----
*/

.contact-banner-container{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	top: 0px;
	width: 100%;
	background-color: rgb(255, 255, 255);
	z-index: 4;
	border-top: 1px solid rgb(225, 225, 225);
}

.contact-banner-outer{
	width: clamp(200px,100%,980px);
}

.contact-us-header-container{
	margin-top: 40px;
	margin-bottom: 0px;
	display: flex;
	font-size: 28px;
	font-family: "PlayfairBold";
	width: calc(100% - 80px);
	margin-left: 40px;
	margin-right: 40px;
	height: 60px;
	align-items: center;
	justify-content: center;
	color: var(--dark-purple);
}

.contact-minor-container2{
	display: flex;
	flex-direction: column;
	font-size: 16px;
	font-family: "WorkSansLight";
	line-height: 1.6;
	text-align: justify;
	margin-bottom: 40px;
	width: calc(100% - 80px);
	margin-left: 40px;
	margin-right: 40px;
}

.contact-minor-container-highlighted{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 120px;
	flex-direction: column;
	font-size: 18px;
	font-family: "WorkSansLight";
	line-height: 1.6;
	background-color: rgb(255, 255, 255);
	margin-bottom: 60px;
	border: 0px solid var(--dark-purple);
	width: calc(100% - 80px);
	margin-left: 40px;
	margin-right: 40px;

	border: 1px solid rgb(200, 200, 200);
}

@media (max-width: 952px) {
	.joining-end-text-outer {
		font-size: 30px;
	}
}

@media (max-width: 915px) {
	.first-banner-text-outer {
		font-size: 48px;
	}
	
	.first-banner-text-minor {
		font-size: 20px;
	}
}

@media (max-width: 900px) {

	.joining-end-text-outer {
		height: 60px;
		font-size: 28px;
	}
	
	.joining-end-text-minor {
		height: 30px;
		font-size: 14px;
	}

	.social-call-text-outer {
		height: 60px;
		font-size: 28px;
	}
	
	.social-call-text-minor {
		height: 30px;
		font-size: 14px;
	}

	.alumni-destinations-box-container {
		width: 110px;
    	height: 110px;
	}
}

@media (max-width: 850px) {
	.first-banner-text-outer {
		height: 60px;
		font-size: 44px;
	}
	
	.first-banner-text-minor {
		height: 30px;
		font-size: 17px;
	}

	.joining-end-text-outer {
		height: 90px;
		font-size: 26px;
	}
	
	.joining-end-text-minor {
		height: 30px;
		font-size: 13px;
	}

	.social-call-text-outer {
		height: 90px;
		font-size: 26px;
	}
	
	.social-call-text-minor {
		height: 30px;
		font-size: 13px;
	}
	
	.values-box-detail2{
		font-size: 12px;
	}

	.wedo-detail-container{
		font-size: 13px;
	}

	.wedo-detail-container-right{
		font-size: 13px;
	}
}

@media (max-width: 770px) {
	.first-banner-text-outer {
		font-size: 40px;
	}
	
	.first-banner-text-minor {
		font-size: 16px;
	}

	.sponsors-box-outer {
		flex-direction: column;
	}

	.sponsor-box{
		width: 100%;
	}

	.sponsor-image {
		height: 100px;
	}

	.responsive-am-block {
		width: 142px;
	}

	.am-image-outer-container{
		width: 142px;
		height: 142px;
	}

	.am-text-name {
		font-size: 16px !important;
	}
	
	.am-text-college {
		font-size: 10px !important;
	}

	.committee-box {
		width: 49%;
	}

	.values-box-detail{
		font-size: 13px;
	}
	
	.values-box-detail2{
		font-size: 11px;
	}

	.wedo-detail-container{
		font-size: 12px;
	}

	.wedo-detail-container-right{
		font-size: 12px;
		margin-left: 60px;
	}

	.wedo-header-container-smaller{
		font-size: 20px;
	}

	.wedo-header-container-smaller2{
		font-size: 20px;
	}

	.wedo-header-container-smaller-right{
		font-size: 20px;
		margin-left: 60px;
	}

	.wedo-button-outer-right {
		margin-left: 60px;
	}
}

@media (max-width: 714px) {
	.first-banner-text-outer {
		font-size: 34px;
	}
	
	.first-banner-text-minor {
		font-size: 15px;
	}
	
	.joining-end-text-minor {
		height: 40px;
		font-size: 13px;
		width: 80%;
	}

	
	.social-call-text-minor {
		height: 40px;
		font-size: 13px;
	}

	.alumni-destinations-box-container {
		width: 70px;
    	height: 70px;
	}

	.sponsor-image {
		height: 90px;
	}

	.values-box-header{
		height: 50px;
	}

	.values-box-detail{
		font-size: 12px;
	}
	
	.values-box-detail2{
		font-size: 10px;
	}
}

@media (max-width: 610px) {
	.buffer{
		height: 10px;
	}
	
	.first-banner-text-outer {
		height: 120px;
		width: 60%;
		font-size: 35px;
		margin-top: 100px;
	}
	
	.first-banner-text-minor {
		height: 30px;
		font-size: 14px;
	}
	
	.first-banner-container {
		height: 500px;
	}

	.about-minor-container {
		font-size: 14px;
	}

	.about-header-container {
		font-size: 22px;
	}

	.alumni-header-container {
		font-size: 22px;
	}

	.about-values-container {
		font-size: 22px;
	}
	
	.values-outer-box{
		margin-bottom: 70px;
	}

	.committee-message-container{
		font-size: 14px;
	}

	.sponsors-header-container {
		font-size: 22px;
	}

	.sponsor-image {
		height: 80px;
	}

	.sponsor-text2 {
		font-size: 10px;
	}

	.sponsor-text {
		font-size: 10px;
	}

	.committee-text-name{
		font-size: 20px;
	}

	.committee-text-role{
		font-size: 12px;
	}

	.initiatives-header-container{
		font-size: 22px;
	}

	.initiatives-detail-container{
		font-size: 14px;
	}

	.events-header-container{
		font-size: 22px;
	}

	.events-detail-container{
		font-size: 14px;
	}

	.values-box-header{
		font-size: 17px;
	}

	.values-box-header2{
		font-size: 17px;
	}

	.values-box-detail{
		font-size: 11px;
	}
	
	.values-box-detail2{
		font-size: 9px;
	}

	.wedo-container{
		flex-direction: column;
		height: auto;
	}

	.initiatives-image-container {
		width: 400px;
		height: 400px;
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.contact-us-header-container {
		font-size: 22px;
	}

	.contact-minor-container2 {
		font-size: 14px;
	}

	.contact-minor-container-highlighted{
		font-size: 16px;
	}

	.initiatives-text-container-outer {
		width: 400px;
		height: auto;
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
		flex-direction: column;
		margin-bottom: 40px;
	}

	.wedo-detail-container{
		font-size: 14px;
		width: 100%;
	}

	.wedo-detail-container-right{
		font-size: 14px;
		width: 100%;
		margin-left: 0px;
	}

	.wedo-header-container-smaller{
		font-size: 24px;
	}

	.wedo-header-container-smaller2{
		font-size: 24px;
		margin-top: 0px;
	}

	.wedo-header-container-smaller-right{
		font-size: 24px;
		margin-left: 0px;
	}

	.wedo-button-outer-right {
		margin-left: 0px;
	}
}

@media (max-width: 514px) {
	.first-banner-text-outer {
		height: 120px;
		width: calc(90% - 80px);
		font-size: 35px;
		margin-top: 100px;
	}

	.joining-end-text-outer {
		font-size: 25px;
		height: 100px;
	}

	.joining-end-text-minor {
		font-size: 11px;
		height: 30px;
	}
	
	.values-outer-box{
		height: auto;
		flex-direction: column;
		margin-bottom: 40px;
	}
	
	.values-box{
		width: 100%;
		height: 220px;
		margin-bottom: 20px;
	}

	.values-box-detail2{
		margin-top: 2px;
	}

	.initiatives-container{
		flex-direction: column;
		height: auto;
	}

	.initiatives-image-container{
		height: 300px;
		width: 100%;
	}

	.initiatives-text-container-outer{
		height: 220px;
		width: 100%;
	}

	.events-container{
		flex-direction: column;
		height: auto;
	}

	.events-image-container{
		height: 300px;
		width: 100%;
	}

	.events-text-container-outer{
		height: 260px;
		width: 100%;
		justify-content: flex-end;
	}

	.sponsor-image {
		height: 60px;
	}

	.committee-box {
		width: 100%;
	}

	.values-box-header{
		font-size: 20px;
		height: 30px;
	}

	.values-box-header2{
		font-size: 20px;
	}

	.values-box-detail{
		font-size: 14px;
	}
	
	.values-box-detail2{
		font-size: 13px;
	}

	.joining-end-text-outer {
		height: 90px;
		font-size: 23px;
	}

	.social-call-text-outer {
		height: 90px;
		font-size: 22px;
	}

	.contact-minor-container-highlighted{
		font-size: 12px;
	}
}

@media (max-width: 432px) {
	.first-banner-text-outer {
		height: 100px;
		width: calc(90% - 80px);
		font-size: 28px;
		margin-top: 110px;
	}
	
	.first-banner-text-minor {
		height: 30px;
		font-size: 12px;
	}

	.joining-end-text-outer {
		font-size: 22px;
	}
	
	.joining-end-text-minor {
		font-size: 10px;
	}

	.values-box-detail{
		font-size: 12px;
	}
	
	.values-box-detail2{
		font-size: 11px;
	}

	.sponsor-image {
		height: 50px;
	}

	.responsive-am-block {
		width: 132px;
	}

	.am-image-outer-container{
		width: 132px;
		height: 132px;
	}

	.am-text-name {
		font-size: 14px !important;
	}

	.joining-end-text-outer {
		height: 90px;
		font-size: 20px;
	}

	.social-call-text-outer {
		height: 90px;
		font-size: 20px;
	}

	.contact-minor-container-highlighted{
		font-size: 10px;
	}
}

@media (max-width: 404px) {
	.responsive-am-block {
		width: 112px;
	}

	.am-image-outer-container{
		width: 112px;
		height: 112px;
	}

	.joining-end-text-outer {
		height: 90px;
		font-size: 18px;
	}

	.buffer{
		height: 20px;
	}
}