@font-face {
	font-family: 'WorkSansExtraLight';
	src: local('WorkSans-ExtraLight'), url(../../fonts/WorkSans-ExtraLight.woff) format('woff');
}
  
@font-face {
	font-family: 'WorkSansLight';
	src: local('WorkSans-Light'), url(../../fonts/WorkSans-Light.woff) format('woff');
}

@font-face {
	font-family: 'WorkSansRegular';
	src: local('WorkSans-Regular'), url(../../fonts/WorkSans-Regular.woff) format('woff');
}	

@font-face {
	font-family: 'Garamond';
	src: local('EBGaramond-Regular'), url(../../fonts/EBGaramond-Regular.woff) format('woff');
}

@font-face {
	font-family: 'GaramondSemiBold';
	src: local('EBGaramond-SemiBold'), url(../../fonts/EBGaramond-SemiBold.woff) format('woff');
}	

@font-face {
	font-family: 'PlayfairBold';
	src: local('PlayfairDisplaySC-Bold'), url(../../fonts/PlayfairDisplaySC-Bold.woff) format('woff');
}

:root{
	--light-purple: #5D3C90;
	--orange: #F57300;
	--dark-purple: #4E35A0;
	--gray-purple: #CECADB;
	--light-gray: rgb(244, 244, 244);
}

body {
	margin: 0px;
}

p {
	padding: 0;
	margin: 0;
}

input {
	display: inline;
}
  
html {
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
	color: inherit;
}

ul {
	list-style-type:square;
	list-style-position: outside;
}

li {
	list-style-type:square;
	list-style-position: outside;
}

.logotext{
	color: var(--dark-purple);
	font-size: 28px;
	font-family: "Garamond";
}

.navbar{
	display: flex;
    background-color: white;
    justify-content: center;
    position: fixed;
    width: 100%;
	box-shadow: rgba(0, 0, 0, 0.36) 0px 1px 4px;
	z-index: 20;
}

.navbar-inner{
	min-height: 70px;
    display: flex;
    width: clamp(200px,1000px,1000px);
    justify-content: space-between;
    align-items: stretch;
    padding: 0 12px;
}

.identity-outer-container{
	display: flex;
	width: 125px;
	height: 54px;
	margin-left: 50px;
	padding-top: 8px;
	padding-bottom: 8px;
	cursor: pointer;
}

.logo-outer-container{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 14px;
}

.navbarlinks-outer-container{
	display: flex;
	width: 700px;
	height: 54px;
	padding-top: 8px;
	padding-bottom: 8px;
	align-items: center;
	justify-content: flex-end;
}

.navbar-link{
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: "WorkSansRegular";
	color: rgb(69, 69, 69) !important;
	font-size: 13px;
	width: 120px;
	height: 40px;
	margin-left: 10px;
	margin-right: 10px;
	cursor: pointer;
}

.navbar-link:hover {
	color: var(--dark-purple) !important;
}

.navbar-link-join{
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: "WorkSansRegular";
	color: rgb(69, 69, 69) !important;
	font-size: 13px;
	width: 120px;
	height: 35px;
	margin-left: 10px;
	margin-right: 10px;
	cursor: pointer;
	border: 1px solid var(--dark-purple);
	transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
}

.navbar-link-join:hover {
	color: white !important;
	background-color: var(--dark-purple);
}

.icon-container{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 6px;
}

.first-banner-container{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	top: 70px;
	width: 100%;
	background-color: var(--gray);
	height: 700px;
	z-index: 4;
}

.first-banner-text-outer {
	margin-top: 210px;
	height: 80px;
	width: 900px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	color: white;
	font-size: 50px;
	font-family: "Garamond";
	z-index: 10;
}

.first-banner-text-minor {
	height: 40px;
	width: 900px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	color: rgba(255, 255, 255, 0.747);
	font-size: 20px;
	font-family: "WorkSansRegular";
	z-index: 10;
}

.first-banner-button-outer{
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: 900px;
	margin-top: 14px;
}

.first-banner-join-button{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 37px;
	width: 150px;
	color: rgba(255, 255, 255, 0.9);
	border: 1px solid rgba(255, 255, 255, 0.9);
	z-index: 10;
	cursor: pointer;
	transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
}

.first-banner-join-button:hover{
	color: rgba(0, 0, 0, 1);
	background-color: rgba(255, 255, 255, 1.0);
}

.first-banner-button-text{
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 14px;
	font-family: "WorkSansRegular";
	z-index: 10;
}

.second-banner-container{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	top: 0px;
	width: 100%;
	background-color: white;
	z-index: 4;
}

.about-outer{
	width: clamp(200px,900px,900px);
}

.about-header-container {
	margin-top: 60px;
	margin-bottom: 0px;
	display: flex;
	font-size: 28px;
	font-family: "PlayfairBold";
	width: 100%;
	height: 60px;
	align-items: center;
	justify-content: center;
	color: var(--dark-purple);
}

.thinLine{
	width: 100%;
	height: 1px;
	background-color: rgb(203, 203, 203);
	margin-bottom: 40px;
}

.about-minor-container {
	display: flex;
	font-size: 18x;
	font-family: "WorkSansLight";
	line-height: 1.6;
	text-align: justify;
	margin-bottom: 20px;
}

.about-values-container {
	margin-top: 35px;
	display: flex;
	font-size: 28px;
	font-family: "PlayfairBold";
	width: 100%;
	height: 60px;
	align-items: center;
	justify-content: center;
	color: var(--dark-purple);
}

.values-outer-box{
	display: flex;
	height: 300px;
	width: 100%;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 100px;
	margin-top: 50px;
}

.values-box{
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 31%;
	background-color: rgb(247, 247, 247);
	align-items: center;
	justify-content: flex-start;
	font-family: "WorkSansRegular";
	transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
}

.values-box:hover{
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	background-color: white;
}

.values-box-header{
	width: 70%;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	color: black;
	font-family: "WorkSansRegular";
	margin-top: 25px;
	font-size: 20px;
}

.values-box-header2{
	width: 70%;
	height: 44px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	color: black;
	font-family: "WorkSansRegular";
	margin-top: 25px;
	font-size: 20px;
}

.values-box-detail{
	width: 70%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: rgb(41, 41, 41);
	font-family: "WorkSansLight";
	margin-top: 15px;
	font-size: 14px;
}

.values-box-detail2{
	width: 70%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: rgb(41, 41, 41);
	font-family: "WorkSansLight";
	margin-top: 15px;
	font-size: 13px;
}

.values-box-banner{
	width: 100%;
	height: 24px;
	background-color: var(--dark-purple);
}

.third-banner-container{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	top: 0px;
	width: 100%;
	background-color: #412f53;
	z-index: 4;
}

.events-outer {
    width: clamp(200px,900px,900px);
}

.events-header-container2 {
	margin-top: 60px;
	margin-bottom: 0px;
	display: flex;
	font-size: 28px;
	font-family: "PlayfairBold";
	width: 100%;
	height: 60px;
	align-items: center;
	justify-content: center;
	color: white;
}

.thinLine-white{
	width: 100%;
	height: 1px;
	background-color: rgb(255, 255, 255);
	margin-bottom: 40px;
}

.initiatives-container{
	margin-top: 80px;
	width: 100%;
	height: 300px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 80px;
}

.initiatives-text-container-outer{
	width: 50%;
	height: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-direction: column;
}

.initiatives-image-container{
	width: 50%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	overflow: hidden;
	object-fit: cover;
}

.initiatives-header-container{
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: flex-start;
	height: 60px;
	font-size: 28px;
	font-family: "PlayfairBold";
	color: white;
}

.initiatives-detail-container{
	margin-top: 15px;
	display: flex;
	width: 90%;
	align-items: flex-start;
	justify-content: flex-start;
	font-size: 16px;
	font-family: "WorkSansLight";
	color: rgb(214, 214, 214);
}

.initiatives-button-outer{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin-top: 40px;
}

.initiatives-button-container{
	width: 200px;
	height: 40px;
	background-color: white;
	color: black;
	font-family: "WorkSansRegular";
	display: flex;
	font-size: 14px;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.initiatives-button-container:hover{
	background-color: rgb(225, 225, 225);
	transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
}

.fourth-banner-container{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	top: 0px;
	width: 100%;
	background-color: rgb(235, 235, 235);
	z-index: 4;
}

.events-container{
	margin-top: 80px;
	width: 100%;
	height: 300px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 80px;
}

.events-text-container-outer{
	width: 50%;
	height: 100%;
	display: flex;
	align-items: flex-end;
	justify-content: flex-start;
	flex-direction: column;
}

.events-image-container{
	width: 50%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	overflow: hidden;
	object-fit: cover;
}

.events-header-container{
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: flex-end;
	height: 60px;
	font-size: 28px;
	font-family: "PlayfairBold";
	color: rgb(0, 0, 0);
}

.events-detail-container{
	margin-top: 15px;
	display: flex;
	width: 90%;
	align-items: flex-start;
	justify-content: flex-start;
	font-size: 16px;
	font-family: "WorkSansLight";
	color: rgb(57, 57, 57);
	text-align: right;
}

.events-button-outer{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-top: 40px;
}

.events-button-container{
	width: 200px;
	height: 40px;
	background-color: black;
	color: white;
	font-family: "WorkSansRegular";
	display: flex;
	font-size: 14px;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.events-button-container:hover{
	background-color: rgb(46, 46, 46);
	transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
}

.fifth-banner-container{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	top: 0px;
	width: 100%;
	background-color: rgb(255, 255, 255);
	z-index: 4;
}

.committee-outer {
    width: clamp(200px,900px,900px);
}

.committee-header-container{
	margin-top: 60px;
	margin-bottom: 0px;
	display: flex;
	font-size: 28px;
	font-family: "PlayfairBold";
	width: 100%;
	height: 60px;
	align-items: center;
	justify-content: center;
	color: var(--dark-purple);
}

.committee-message-container{
	display: flex;
	flex-direction: column;
	font-size: 18x;
	font-family: "WorkSansLight";
	line-height: 1.6;
	text-align: justify;
	margin-bottom: 20px;
}

.committee-text-right-pos{
	text-align: right;
}

.space-10px{
	height: 10px;
	width: 100%;
}

.committee-boxes-outer{
	display: flex;
	width: 100%;
	justify-content: space-between;
	margin-top: 40px;
	flex-wrap: wrap;
	margin-bottom: 50px;
}

.committee-box {
	display: flex;
	width: 32%;
	height: 400px;
	flex-direction: column;
	margin-bottom: 50px;
	background-color: rgb(241, 241, 241);
	transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
}

.committee-box:hover{
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	background-color: white;
}

.committee-box-image-container{
	width: 100%;
	height: 300px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	overflow: hidden;
	object-fit: cover;
}

.committee-box-text-container{
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
	flex-direction: column;
	height: 100px;
}

.committee-text-name{
	font-family: "Garamond";
	font-size: 24px;
	color: var(--dark-purple);
	margin-top: 16px;
}

.committee-text-role{
	font-family: "WorkSansRegular";
	font-size: 15px;
	color: black;
}

.committee-text-college{
	font-family: "WorkSansLight";
	font-size: 12px;
	color: black;
	margin-top: 2px;
}

.seventh-banner-container{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	top: 0px;
	width: 100%;
	background-color: rgb(235, 235, 235);
	z-index: 4;
}

.ambassadors-outer {
    width: clamp(200px,900px,900px);
}

.ambassador-boxes-outer{
	max-width: 900px !important;
    width: 100% !important;
    min-height: 75px;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 50px;
	margin-bottom: 40px;
    justify-content: space-between;
}

.responsive-am-block {
    display: block;
    min-height: 75px;
    width: 192px;
    margin-top: 0px;
    margin-right: 15px;
    margin-bottom: 30px;
    margin-left: 15px;
}

.am-card-empty {
    display: block;
}

.am-card-wrapper {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}

.am-content {
    display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.am-text-name {
    font-size: 20px !important;
    margin-top: 11px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    line-height: 25px;
    font-family: "Garamond";
}

.am-text-college {
    font-size: 12px !important;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    line-height: 25px;
	font-family: "WorkSansLight";
}

.am-image-outer-container{
	width: 192px;
	height: 192px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.sixth-banner-container{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	top: 0px;
	width: 100%;
	background-color: rgb(255, 255, 255);
	z-index: 4;
}

.sponsors-outer {
    width: clamp(200px,900px,900px);
}

.sponsors-header-container {
	margin-top: 60px;
	margin-bottom: 0px;
	display: flex;
	font-size: 28px;
	font-family: "PlayfairBold";
	width: 100%;
	height: 60px;
	align-items: center;
	justify-content: center;
	color: var(--dark-purple);
}

.sponsors-box-outer {
    display: flex;
	width: 100%;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 50px;
}

.sponsor-box{
	display: flex;
	width: 48%;
	height: 150px;
	align-items: center;
	justify-content: space-between;
}

.sponsor-image{
	width: 40%;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	overflow: hidden;
	object-fit: cover;
	cursor: pointer;
}

.sponsor-text{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50%;
	height: 100%;
	font-family: "WorkSansRegular";
	font-size: 13px;
	color: rgb(40, 40, 40);
}

.sponsor-text2{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50%;
	height: 100%;
	font-family: "WorkSansRegular";
	font-size: 12px;
	color: rgb(40, 40, 40);
}

.alumni-destinations-banner-container{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	top: 0px;
	width: 100%;
	background-color: rgb(235, 235, 235);
	z-index: 4;
}

.alumni-destinations-outer {
    width: clamp(200px,900px,900px);
}

.alumni-destinations-outer-container{
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	width: 100%;
	flex-wrap: wrap;
	margin-bottom: 60px;
}

.alumni-destinations-box-container{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 140px;
	height: 140px;
	position: relative;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.joining-end-banner-container{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	top: 0px;
	width: 100%;
	background-color: rgb(255, 255, 255);
	z-index: 4;
}

.joining-end-destinations-outer {
    width: clamp(200px,900px,900px);
}

.joining-end-text-outer {
	margin-top: 60px;
	height: 80px;
	width: 900px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	color: rgb(54, 54, 54);
	font-size: 38px;
	font-family: "Garamond";
	z-index: 10;
}

.joining-end-text-minor {
	height: 40px;
	width: 900px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	color: rgba(36, 36, 36, 0.747);
	font-size: 16px;
	font-family: "WorkSansRegular";
	z-index: 10;
}

.joining-end-join-button{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
	margin-bottom: 60px;
	height: 37px;
	width: 220px;
	color: rgba(36, 36, 36, 0.9);
	border: 1px solid var(--dark-purple);
	z-index: 10;
	cursor: pointer;
	transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
}

.joining-end-join-button:hover{
	color: rgb(255, 255, 255);
	background-color: var(--dark-purple);
}

.joining-end-button-text{
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 14px;
	font-family: "WorkSansRegular";
	z-index: 10;
}
