.footer-container {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	top: 0px;
	width: 100%;
	background-color: var(--light-gray);
	z-index: 4;
}

.footer-outer{
	width: clamp(200px,100%,980px);
}

.footer-line{
	width: calc(100% - 80px);
	margin-left: 40px;
	margin-right: 40px;
	height: 1px;
	background-color: rgb(203, 203, 203);
	margin-bottom: 10px;
	margin-top: 20px;
}

.footer-copyright-outer{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 24px;
	width: calc(100% - 80px);
	margin-left: 40px;
	margin-right: 40px;
}

.footer-copyright-text{
	display: flex;
	height: 30px;
	text-align: right;
	align-items: center;
	justify-content: flex-end;
	font-family: "WorkSansRegular";
	font-size: 12px;
	color: rgb(40, 40, 40);
}

.footer-privacy-text{
	display: flex;
	height: 30px;
	width: 120px;
	text-align: left;
	align-items: center;
	justify-content: flex-start;
	font-family: "WorkSansRegular";
	font-size: 12px;
	color: rgb(0, 0, 0);
	cursor: pointer;
}

.footer-above-container{
	height: 100px;
	width: calc(100% - 80px);
	margin-left: 40px;
	margin-right: 40px;
	display: flex;
	margin-top: 30px;
	justify-content: space-between;
}

.footer-logo-container{
	height: 100%;
	width: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.footer-logo-image{
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	overflow: hidden;
	object-fit: cover;
	cursor: pointer;
}

.footer-links-container{
	display: flex;
	flex-direction: column;
	width: 150px;
	height: 100%;
	align-items: flex-end;
	justify-content: center;
}

.footer-link{
	display: flex;
	height: 30px;
	width: 200px;
	text-align: right;
	align-items: center;
	justify-content: flex-end;
	font-family: "WorkSansRegular";
	font-size: 12px;
	color: rgb(0, 0, 0);
	cursor: pointer;
}

.footer-link:hover{
	color: var(--dark-purple);
}

.socials-outer-container{
	display: flex;
	flex-direction: row;
	height: 100%;
	align-items: center;
	justify-content: center;
}

.socials-button-container{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 4px;
	margin-right: 4px;
	cursor: pointer;
}

@media (max-width: 850px) {
	.footer-logo-container{
		height: 90%;
		width: 160px;
	}

	.footer-copyright-text{
		font-size: 10px;
	}
	
	.footer-privacy-text{
		font-size: 10px;
	}
}

@media (max-width: 610px) {
	.footer-logo-container{
		display: none;
	}

	.footer-copyright-text{
		font-size: 8px;
	}
	
	.footer-privacy-text{
		font-size: 8px;
	}
}

@media (max-width: 514px) {
	.footer-links-container{
		width: 100px;
	}
	
	.footer-link{
		font-size: 9px;
	}

	.footer-copyright-text{
		font-size: 7px;
	}
	
	.footer-privacy-text{
		font-size: 7px;
	}
}

@media (max-width: 432px) {
	.footer-above-container{
		flex-direction: column;
	}

	.footer-links-container{
		width: 100%;
		flex-direction: row;
	}

	.footer-link{
		align-items: center;
		justify-content: center;
	}
}