.sponsor-box{
	display: flex;
	width: 48%;
	height: 150px;
	align-items: center;
	justify-content: space-between;
}

.sponsor-image{
	width: 48%;
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	overflow: hidden;
	object-fit: cover;
	cursor: pointer;
}

.sponsor-image-dragon{
	width: 40%;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	overflow: hidden;
	object-fit: cover;
	cursor: pointer;
	margin-left: 20px;
}

.sponsor-image-fe{
	width: 40%;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	overflow: hidden;
	object-fit: cover;
	cursor: pointer;
	margin-left: 20px;
}

.sponsor-image-appian{
	width: 52%;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	overflow: hidden;
	object-fit: cover;
	cursor: pointer;
}

.sponsor-image-rothesay{
	width: 55%;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	overflow: hidden;
	object-fit: cover;
	cursor: pointer;
}

.sponsor-text{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 45%;
	height: 100%;
	font-family: "WorkSansRegular";
	font-size: 12px;
	text-align: justify;
	color: rgb(40, 40, 40);
}

.sponsor-text2{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 45%;
	height: 100%;
	font-family: "WorkSansRegular";
	text-align: justify;
	font-size: 12px;
	color: rgb(40, 40, 40);
}

.sponsors-box-outer-gold {
    display: flex;
	width: calc(100% - 80px);
	margin-left: 40px;
	margin-right: 40px;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 50px;
}

.sponsors-box-outer-platinum {
    display: flex;
	width: calc(100% - 80px);
	margin-left: 40px;
	margin-right: 40px;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 20px;
}

.sponsors-box-outer-silver {
    display: flex;
	width: calc(100% - 80px);
	margin-left: 40px;
	margin-right: 40px;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 50px;
}

.sponsors-box-outer-bronze {
    display: flex;
	width: calc(100% - 80px);
	margin-left: 40px;
	margin-right: 40px;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 50px;
}

.platinum-sponsors-name {
	width: calc(100% - 80px);
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 10px;
	font-family: "WorkSansRegular";
	color: rgb(47, 47, 47);
	display: flex;
	align-items: center;
	justify-content: center;
}

.gold-sponsors-name {
	width: calc(100% - 80px);
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 10px;
	font-family: "WorkSansRegular";
	color: rgb(128, 117, 22);
	display: flex;
	align-items: center;
	justify-content: center;
}

.silver-sponsors-name {
	width: calc(100% - 80px);
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 10px;
	font-family: "WorkSansRegular";
	color: rgb(157, 157, 157);
	display: flex;
	align-items: center;
	justify-content: center;
}

.bronze-sponsors-name {
	width: calc(100% - 80px);
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 10px;
	font-family: "WorkSansRegular";
	color: rgb(149, 104, 22);
	display: flex;
	align-items: center;
	justify-content: center;
}

@media (max-width: 770px) {
	.sponsor-box{
		width: 100%;
	}

	.sponsor-image {
		height: 100px;
	}
	
	.sponsors-box-outer-gold {
		flex-direction: column;
	}

	.sponsors-box-outer-platinum {
		flex-direction: column;
	}

	.sponsors-box-outer-silver {
		flex-direction: column;
	}

	.sponsors-box-outer-bronze {
		flex-direction: column;
	}
}

@media (max-width: 714px) {
	.sponsor-image {
		height: 90px;
	}
}

@media (max-width: 610px) {
	.sponsor-image {
		height: 80px;
	}

	.sponsor-text2 {
		font-size: 10px;
	}

	.sponsor-text {
		font-size: 10px;
	}
}

@media (max-width: 514px) {
	.sponsor-image {
		height: 60px;
	}
}

@media (max-width: 432px) {
	.sponsor-image {
		height: 50px;
	}
}