.members-navbar{
	display: flex;
    background-color: var(--dark-purple);
	color: white;
    justify-content: center;
    position: fixed;
	top: 70px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.36) 0px 1px 4px;
    z-index: 6;
}

.members-navbar-inner {
    min-height: 35px;
    display: flex;
    width: clamp(200px,1000px,1000px);
    justify-content: space-between;
    align-items: stretch;
    padding: 0 12px;
}

.members-navbarlinks-outer-container {
    display: flex;
    width: 700px;
    height: 28px;
    padding-top: 3px;
    padding-bottom: 3px;
    align-items: center;
    justify-content: flex-start;
}

.members-navbar-link {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "WorkSansRegular";
    color: rgb(235, 235, 235) !important;
    font-size: 13px;
    width: 120px;
    height: 40px;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.members-navbar-link:hover {
	color: rgb(255, 255, 255) !important;
}

.members-banner-container{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	top: 0px;
	width: 100%;
	background-color: rgb(255, 255, 255);
	z-index: 4;
}

.members-outer{
	width: clamp(200px,900px,900px);
	margin-bottom: 40px;
}

.members-header-container {
	margin-top: 130px;
	margin-bottom: 0px;
	display: flex;
	font-size: 28px;
	font-family: "PlayfairBold";
	width: 100%;
	height: 60px;
	align-items: center;
	justify-content: center;
	color: var(--dark-purple);
}

.thinLine{
	width: 100%;
	height: 1px;
	background-color: rgb(203, 203, 203);
	margin-bottom: 40px;
}

.members-minor-container {
	display: flex;
	flex-direction: column;
	font-size: 18x;
	font-family: "WorkSansLight";
	line-height: 1.6;
	text-align: justify;
	margin-bottom: 20px;
}

.members-area-major-box-container{
	display: flex;
	flex-direction: column;
	width: calc(100% - 80px);
	border: 1px solid rgb(241, 241, 241);
	padding-bottom: 20px;
	padding-top: 10px;
	padding-left: 40px;
	padding-right: 40px;
	margin-top: 20px;
	transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
}

.members-area-major-box-container:hover{
	border: 1px solid white;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.members-area-header-outer-container{
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 12px;
	margin-top: 10px;
}

.members-area-header-outer-container2{
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 12px;
	margin-top: 30px;
}

.members-area-header-container{
	font-size: 28px;
	font-family: "Garamond";
	color: black;
	height: 60px;
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.members-area-minor-text-container{
	display: flex;
	flex-direction: column;
	font-size: 16px;
	font-family: "WorkSansLight";
	line-height: 1.6;
	text-align: justify;
	margin-bottom: 20px;
}

.members-area-button-outer-container{
	display: flex;
	align-items: flex-end;
	justify-content: center;
	flex-direction: column;
	width: 50%;
	height: 60px;
}

.members-area-button-box{
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid var(--dark-purple);
	font-size: 14px;
	font-family: "WorkSansRegular";
	color: rgba(36, 36, 36, 0.9);
	width: 150px;
	height: 37px;
	cursor: pointer;
	transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
}

.members-area-button-box:hover{
	background-color: var(--dark-purple);
	color: white;
}